{% extends 'main/base.html' %}
{% block title%}
Создать курс
{% endblock %}

{% block content%}
    <h1>Создать курс</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.category }}<br><br>
        {{ form.slug }}<br>
        {{ form.name }}<br>
        {{ form.description }}<br>
        {{ form.price }}<br>
        {{ form.stock }}<br>
        <button type="submit" class="btn btn-warning mt-3">Создать курс</button>
        <span>{{ error }}</span>
        {% block lesson %}
        {% endblock %}
    </form>
{% endblock %}