{% extends 'main/base.html' %}
{% block title%}
Главная страница
{% endblock %}

{% block content%}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Создавай онлайн-курсы на конструкторе</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Создайте свой курс и соберите всю нужную для учебы информацию в одном месте: запись или трансляцию урока, задания к нему, домашние задания, ссылки
                            на дополнительные источники. Отслеживайте прогресс учащихся в табеле успеваемости.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="#"><button type="button" class="btn btn-warning px-4 gap-3">Создать курс</button></a>
        <button type="button" class="btn btn-warning px-4">Secondary</button>
      </div>
    </div>
  </div>
{% endblock %}